<!--

The following is a frontend template
to visualize the header bar, in future 
i plan to add some header icons for new
featuresa

Tech Stack:
- Bootstrap
- CSS
- Metis menu jQuery plugin
- fafa Iconset

Author: Daniel Goncalves

 -->

<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="index.html">Pomelo Smart HR Advisor v0.01</a>
	</div>
	<!-- /.navbar-header -->