<!--

The following is a frontend template
to visualize the sidebar

Tech Stack:
- Bootstrap
- CSS
- Metis menu jQuery plugin
- fafa Iconset

Author: Daniel Goncalves

 -->
 
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="/"><i class="fa fa-star fa-fw"></i> Github Statistics</a>
            </li>

        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->
</nav>